.profile {
  background: #FCFCFC;
  padding: 15px 40px 40px 20px;
  height: calc(100vh - 55px);
  box-sizing: border-box;
}

.listWrap {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.tickets {
  margin-bottom: 35px;
}
.title {
  margin-left: 20px;
  font-size: 16px;
  font-weight: 400;
}

.link {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 14px;
  a {
    color: #50CAFF;
  }
}

.cards {
  display: flex;
  flex-wrap: wrap;
  max-width: 1110px;
}

.card {
  margin-right: 15px;
  margin-bottom: 15px;
}