.button {
  background-color: #7761FF;
  border-radius: 5px;
  padding: 12px 24px;
  border: none;
  text-decoration: none;
  color: white;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  &:hover {
    background-color: darken($color: #7761FF, $amount: 2);
  }
  &:active {
    background-color: darken($color: #7761FF, $amount: 5);
  }
}