@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: local("Rubik"),
       url("./fonts/Rubik.woff2") format("woff2"),
       url("./fonts/Rubik.woff") format("woff");
}

@font-face {
  font-family: "Rubik";
  font-weight: 600;
  src: local("Rubik"),
       url("./fonts/Rubikbold.woff2") format("woff2"),
       url("./fonts/Rubikbold.woff") format("woff");
}

@font-face {
  font-family: "Rubik";
  font-weight: 300;
  src: local("Rubik"),
       url("./fonts/Rubiklight.woff2") format("woff2"),
       url("./fonts/Rubiklight.woff") format("woff");
}

@font-face {
  font-family: "Rubik";
  font-weight: 500;
  src: local("Rubik"),
       url("./fonts/Rubikmedium.woff2") format("woff2"),
       url("./fonts/Rubikmedium.woff") format("woff");
}

body {
  margin: 0;
  font-family: 'Rubik', 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@import "normalize.scss"